body {
    margin: 0;
    padding: 0;
    font-family: Arial;  
    font-size: 14px;  
}

input {
    border: 1px solid #000000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000;
    
    #banner { 
        background: url("../logo.png") left no-repeat;
        height: 35px;
        margin-left: 10px;
        color: #FFFFFF;
        padding: 5px;  
        padding-left: 220px;
    }
    
    #filename {
        color: #86BACC;
        margin-left: 10px;
        font-size: 20px;
        line-height: 35px;
    }
    
    #toolbar {
        color: #CCCCCC;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        line-height: 30px;

        .search {
            float: right;
            input {
                border: 1px solid #AAAAAA;                
            }
        }
        
        a {
            text-decoration: none;
            color: #CCCCCC;
            padding: 2px 5px 2px 5px;
        }
        
        a:hover {
            color: #FFFFFF;
            background: #333333;
            border-radius: 5px;
        }
    }
}

#logContent {
    margin-top: 75px;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    padding: 0 5px 0 5px;
    overflow-y: auto;
    word-wrap: break-word;
    
    .highlight {
        background: yellow;
    }
}

@-webkit-keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#connectionStatus {
    float: right;
    color: #FFFFFF;
    padding: 5px;
    padding-right: 10px;    
    font-size: 11px;
    
    .fa-exclamation-triangle {
        color: #FFCC33;
    }
    
    .fa-check-circle {
        color: #48B848;
    }
    
    a {
        color: #AAAAAA;
    }
    
    a:hover {
        color: #CCCCCC;
    }
}

