.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;  
    font-size: 14px;  
    background: #EEEEEE;
}

input {
    border: 1px solid #000000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    .gradient(#333333, #000000);
    .box-shadow(0px 0px 3px 3px #000000);
    
    #banner { 
        background: url("../logo.png") left no-repeat;
        height: 35px;
        margin-left: 10px;
        color: #FFFFFF;
        padding: 5px;  
        padding-left: 220px;
    }
    
    #filename {
        color: #86BACC;
        margin-left: 10px;
        font-size: 20px;
        line-height: 35px;
    }
    
    #toolbar {
        color: #CCCCCC;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        line-height: 30px;

        .search {
            float: right;
            input {
                border: 1px solid #AAAAAA;                
            }
        }
        
        a {
            text-decoration: none;
            color: #CCCCCC;
            padding: 2px 5px 2px 5px;
        }
        
        a:hover {
            color: #FFFFFF;
            background: #333333;
            border-radius: 5px;
        }
    }
}

#logContent {
    margin: 90px 10px 10px 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    overflow-y: auto;
    word-wrap: break-word;
    background: #FFFFFF;
    .box-shadow(inset 0px 0px 10px #ccc);
    
    .highlight {
        background: yellow;
    }
}

@-webkit-keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#connectionStatus {
    float: right;
    color: #FFFFFF;
    padding: 5px;
    padding-right: 10px;    
    font-size: 11px;
    
    .fa-exclamation-triangle {
        color: #FFCC33;
    }
    
    .fa-check-circle {
        color: #48B848;
    }
    
    a {
        color: #AAAAAA;
    }
    
    a:hover {
        color: #CCCCCC;
    }
}

