<!DOCTYPE html>
<html>
    <head>
        <title>TailStreamer</title>
        <script src="../static/js/tailstreamer.js" th:src="@{/js/tailstreamer.js}"></script>
        <link rel="stylesheet" th:href="@{/css/font-awesome.css}" href="../static/css/font-awesome.css"/>
        <link rel="stylesheet" th:href="@{/css/jquery.qtip.css}" href="../static/css/jquery.qtip.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div id="connectionStatus">
                <i class="fa fa-exclamation-triangle"></i>
                <span id="connectionMessage"></span>
                <a href="#" id="reconnectLink">retry</a>
            </div>
            <div id="banner">
                <span th:text="${file}" id="filename"></span>
            </div>
            <div id="toolbar">
                <a href="#" accesskey="C" id="clearButton"><i class="fa fa-ban"></i></a>
<!--                 <a href="#" id="filterButton"><i class="fa fa-filter"></i></a> -->
<!--                 <a href="#" id="highlightButton"><i class="fa fa-pencil"></i></a> -->
                <span class="search">
                    <i class="fa fa-search"></i>
                    <input id="searchText" placeholder="Search content" type="search" size="30" accesskey="s" />
                </span> 
            </div>
        </header>
        <div id="logContent"></div>
    </body>
</html>