<!DOCTYPE html>
<html>
    <head>
        <title th:text="'TailStreamer - ' + ${file}">TailStreamer</title>
        <script src="js/tailstreamer.js"></script>

        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/jquery.qtip.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        
        <link rel="icon" type="image/png" href="favicon.png" />        
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div id="connectionStatus">
                <a href="#" id="reconnectLink">Reconnect</a>
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div id="banner">
                TailStreamer
                <!--<span th:text="${file}" id="filename"></span>-->
                <span class="topItem">
                    <span class="topLabel" title="Elapsed time"><i class="fa fa-clock-o"></i></span>
                    <span class="topValue" id="elapsed">00:00</span>
                </span>
            </div>
            <div id="toolbar">
                <a href="#" accesskey="C" id="clearButton"><i class="fa fa-ban"></i></a>
<!--                 <a href="#" id="filterButton"><i class="fa fa-filter"></i></a> -->
<!--                 <a href="#" id="highlightButton"><i class="fa fa-pencil"></i></a> -->
                <span id="filename">File: <span th:text="${file}"></span></span>
                <span class="search">
                    <i class="fa fa-search"></i>
                    <input id="searchText" placeholder="Search content" type="search" size="30" accesskey="s" />
                </span> 
            </div>
        </header>
        <div id="mainContent">
            <div id="logContent"></div>
            <button id="jumpToBottomButton" title="Jump to bottom"><i class="fa fa-2x fa-arrow-down"></i></button>
        </div>
        <footer>
            <a target="_blank" href="http://www.github.com/joeattardi/tailstreamer">TailStreamer</a> version <b th:text="${version}"></b>
        </footer>
    </body>
</html>