<!DOCTYPE html>
<html>
    <head>
        <title>TailStreamer Login</title>
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <meta charset="UTF-8" />
    </head>
    <body id="loginPage" onload="document.getElementById('username').focus();">
        <div id="loginWindow">
            <div id="loginWindowTitle">
                <img src="logo.png" />
            </div>
            <div id="loginForm">
                <form th:action="@{/login}" method="post">
                    <div th:if="${param.logout}" id="loggedOut">
                        <i class="fa fa-sign-out"></i> You have been logged out.
                    </div>

                    <div><label for="username">Username:</label></div>
                    <input name="username" id="username" type="text" size="20" /> <br/>

                    <div><label for="password">Password:</label></div>
                    <input name="password" id="password" type="password" size="20" />

                    <div th:if="${param.error}" id="loginError">
                        <i class="fa fa-exclamation-triangle"></i> Invalid username or password.
                    </div>

                    <input type="submit" id="submit" value="Log In" />
                </form>
            </div>
        </div>
    </body>
</html>